{% extends "base.html" %}
{% block content %}
<!-- page content -->
<script>

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
<!--$(document).ready(function() {-->
    <!--$('.example').DataTable( {-->
        <!--"paging":   false,-->
        <!--"ordering": false,-->
        <!--"info":     false-->
    <!--} );-->
<!--} );-->
function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
};
function changeText(id) {
    if(id.innerHTML == "Show Charts"){
        id.innerHTML = "Show Tables";
        }
    else if(id.innerHTML == "Show Tables"){
        id.innerHTML = "Show Charts";
    }
};
$(function() {
var date = new Date();
var currentMonth = date.getMonth();
var currentDate = date.getDate();
var currentYear = date.getFullYear();
$('.datepicker').datepicker({
maxDate: new Date(currentYear, currentMonth, currentDate-1),
minDate: new Date(2015, 12, 1)
});
});

</script>
<style>
.card-body{
min-height:124px !important;
}
.a{
    cursor: pointer;
}
.b{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 5px;
    font-size:120%;
}
.c {
    padding: 0px !important;
}
.d{
margin: 10px;
}
.mb-4 {
    margin-bottom: 1rem !important;
}
.carousel-indicators{
    bottom: -10px !important;
}
.carousel-indicators .active{
    background-color:black;
}
.control-next{
    top:0px;
}
</style>
    <p id="p1"></p>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="container" style="margin-top:20px">
                            <form method="post" action="/" name="form1">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <label><b>Present Start Date</b></label>
                                      <input name="pre_start" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Present End Date</b></label>
                                      <input name="pre_end" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Previous Start Date</b></label>
                                      <input name="prv_start" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Previous End Date</b></label>
                                      <input name="prv_end" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                </div>
                                <div class="container" style="text-align:center; margin-top:10px">
                                    <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                                </div>
                            </form>
                            <div class="container" style="text-align:center; margin-top:10px">
                                    {% if result %}
                                    <a href="javascript:SwapDivsWithClick('swapper-first','swapper-other')"><button class="btn btn-primary btn-sm" onclick="changeText(this)">Show Charts</button></a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if result %}
            <div id="swapper-first" style="display:block;">
                <div class="animated fadeIn">
                    <div class="card-columns cols-2">
                        <div class="card">
                            <div class="card-header">
                                <font size="4">Sessions</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table  class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Current</th>
                                                    <th>Previous</th>
                                                    <th>Change</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in result['sessions'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['Current']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                        <td>{{item['Change']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Sessions by categories</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Organic Search</th>
                                                    <th>Direct</th>
                                                    <th>Referral</th>
                                                    <th>Social</th>
                                                    <th>Paid Search</th>
                                                    <th>Email</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in result['session_category'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['Organic Search']}}</td>
                                                        <td>{{item['Direct']}}</td>
                                                        <td>{{item['Referral']}}</td>
                                                        <td>{{item['Social']}}</td>
                                                        <td>{{item['Paid Search']}}</td>
                                                        <td>{{item['Email']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Events</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table  class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>HelloBar Events</th>
                                                    <th>Previous</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['Events'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['HelloBar Events']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Devices</font>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-container">
                                            <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                                <thead>
                                                    <tr>
                                                        <th>Device</th>
                                                        <th>Goal Completions</th>
                                                        <th>Previous</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                {% for item in result['Devices'] %}
                                                    <tr>
                                                        <td>{{item['Device']}}</td>
                                                        <td>{{item['Goal Completions']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Device Sessions</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Desktop</th>
                                                    <th>Tablet</th>
                                                    <th>Mobile</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in result['Device_sessions'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['Desktop']}}</td>
                                                        <td>{{item['Tablet']}}</td>
                                                        <td>{{item['Mobile']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">CPC</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Paid Source</th>
                                                    <th>Goal Completions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['CPC'] %}
                                                    <tr>
                                                        <td>{{item['Paid Source']}}</td>
                                                        <td>{{item['Goal Completions']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Top Conversions</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Metric</th>
                                                    <th>Current</th>
                                                    <th>Previous</th>
                                                    <th>Change</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['Top_conversions'] %}
                                                    <tr>
                                                        <td>{{item['Metric']}}</td>
                                                        <td>{{item['Current']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                        <td>{{item['Change']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.2.0"></script>
    <div class="container-fluid" id="swapper-other" style="display:none">
        <div class="animated fadeIn">
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-3"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-8"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                   <div class="card-body">
                       <div class="chart-wrapper">
                           <canvas id="myChart-7"></canvas>
                       </div>
                   </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-6"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="myChart-5"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                   <div class="card-body">
                       <div class="chart-wrapper">
                           <canvas id="myChart-4"></canvas>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

<script  type="text/javascript">
var ctx1 = document.getElementById("myChart-2").getContext('2d');
var myChart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: [{% for item in result['sessions'] %}
                  {%if item['Country'] != 'Total' %}
                  "{{item['Country']}}",
                  {% endif %}
              {% endfor %}],
        datasets: [{
            label: ['{{MonthNames[0]}}'],
            data: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  "{{item['Current']}}",
                  {% endif %}
                  {% endfor %}],
            backgroundColor: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  'rgba(45, 180, 152, 0.7)',
                  {% endif %}
                  {% endfor %}],
            borderColor: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  'rgba(45, 180, 152, 1)',
                  {% endif %}
                  {% endfor %}],
            borderWidth: 0.5
        },
        {
        datalabels: {
            color:'#000000',
            offset: -20,
      	    formatter: function(value, context) {
                    return context.dataset.data[context.dataIndex] + ' %';
                }
                },
            label: ['Change percentage'],
            type: 'line',
            fill: false,
            data: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  {{item['Change'].split('%')[0]}},
                  {% endif %}
                  {% endfor %}],
            backgroundColor: [
                  'rgba(225, 52, 65, 0.8)',
                  ],
            borderColor: [
                  'rgba(225, 52, 65, 0.4)',
                  ]
        }]
    },
    options: {
        plugins: {
              datalabels: {
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 12,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
        title: {
			display: true,
			text: 'REGION WITH CHANGE PERCENTAGE'
			},
        tooltips: {
            mode: 'index',
            },
        scales: {
            yAxes: [{
                stacked: true,
                gridLines: {
                    display:true
                },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                stacked: true,
                gridLines: {
                    display:true
                },
            }]
        }
    }
});
var ctx2 = document.getElementById("myChart-1").getContext('2d');
var myChart2 = new Chart(ctx2, {
			type: 'bar',
			data: {
				labels: ['UK', 'US', 'France', 'China', 'India', 'SEA', 'ANZ', 'ROW'],
				datasets: [{
				datalabels: {
                    display: false,
                },
                label: ['Organic Search'],
                data: [{{result['session_category'][0]['Organic Search']}},{{result['session_category'][1]['Organic Search']}},
                {{result['session_category'][2]['Organic Search']}},{{result['session_category'][3]['Organic Search']}},
                {{result['session_category'][4]['Organic Search']}},{{result['session_category'][5]['Organic Search']}},
                {{result['session_category'][6]['Organic Search']}},{{result['session_category'][7]['Organic Search']}}],
                backgroundColor: [
                    'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)',
                    'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
            },
            {
                datalabels: {
                    display: false
                },
                label: ['Direct'],
                data: [{{result['session_category'][0]['Direct']}},{{result['session_category'][1]['Direct']}},
                {{result['session_category'][2]['Direct']}},{{result['session_category'][3]['Direct']}},
                {{result['session_category'][4]['Direct']}},{{result['session_category'][5]['Direct']}},
                {{result['session_category'][6]['Direct']}},{{result['session_category'][7]['Direct']}}],
                backgroundColor: [
                    'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)',
                    'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
                },
            {
                datalabels: {
                    display: false
                },
                label: ['Referral'],
                data: [{{result['session_category'][0]['Referral']}},{{result['session_category'][1]['Referral']}},
                {{result['session_category'][2]['Referral']}},{{result['session_category'][3]['Referral']}},
                {{result['session_category'][4]['Referral']}},{{result['session_category'][5]['Referral']}},
                {{result['session_category'][6]['Referral']}},{{result['session_category'][7]['Referral']}}],
                backgroundColor: [
                    'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)',
                    'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
                },
            {
                datalabels: {
                    display: false
                },
                label: ['Social'],
                data: [{{result['session_category'][0]['Social']}},{{result['session_category'][1]['Social']}},
                {{result['session_category'][2]['Social']}},{{result['session_category'][3]['Social']}},
                {{result['session_category'][4]['Social']}},{{result['session_category'][5]['Social']}},
                {{result['session_category'][6]['Social']}},{{result['session_category'][7]['Social']}}],
                backgroundColor: [
                    'rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)',
                    'rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
                },
            {
                datalabels: {
                    display: false
                },
                label: ['Paid Search'],
                data: [{{result['session_category'][0]['Paid Search']}},{{result['session_category'][1]['Paid Search']}},
                {{result['session_category'][2]['Paid Search']}},{{result['session_category'][3]['Paid Search']}},
                {{result['session_category'][4]['Paid Search']}},{{result['session_category'][5]['Paid Search']}},
                {{result['session_category'][6]['Paid Search']}},{{result['session_category'][7]['Paid Search']}}],
                backgroundColor: [
                    'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)',
                    'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
                },
                {
                label: ['Email'],
                labels: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  "{{((item['Current']|int /result['sessions'][-1]['Current']|int) * 100)|round(2) }}",
                  {% endif %}
                  {% endfor %}],
                data: [{{result['session_category'][0]['Email']}},{{result['session_category'][1]['Email']}},
                {{result['session_category'][2]['Email']}},{{result['session_category'][3]['Email']}},
                {{result['session_category'][4]['Email']}},{{result['session_category'][5]['Email']}},
                {{result['session_category'][6]['Email']}},{{result['session_category'][7]['Email']}}],
                backgroundColor: [
                    'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)',
                    'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'
                ],
                borderWidth: 0.5
                },
            ]
        },
    options: {
        plugins: {
              datalabels: {
                formatter: function(value, context) {
                    return context.dataset.labels[context.dataIndex] + '%';
                },
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 12,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
        title: {
			display: true,
			text: 'SOURCE, REGION WITH PERCENTAGE SHARE'
			},
        tooltips: {
                    mode: 'index',
                },
                hover: {
                    mode: 'index'
                },
        scales: {
            yAxes: [{
                stacked: true,
                gridLines: {
                    display:true
                }
            }],
            xAxes: [{
                stacked: true,
                gridLines: {
                    display:false
                },
            }]
        }
    }
});

var barChartData = {
        labels: ['UK', 'USA', 'France', 'China', 'India', 'SEA', 'ANZ','ROW'],
        datasets: [{
            label: 'Organic Search',
            backgroundColor: [
               'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)',
               'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ OrganicSearchChange }}
        }, {
            label: 'Direct',
            backgroundColor: [
               'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)',
               'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ DirectChange }}
        }, {
            label: 'Referral',
            backgroundColor: [
               'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)',
               'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ ReferralChange }}
        }, {
            label: 'Social',
            backgroundColor: [
               'rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)',
               'rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ SocialChange }}
        }, {
            label: 'Paid Search',
            backgroundColor: [
               'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)',
               'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ PaidSearchChange }}
        }, {
            label: 'Email',
            backgroundColor: [
               'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)',
               'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ EmailChange }}
        }]

    };
var ctx3 = document.getElementById('myChart-3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: barChartData,
    options: {
        plugins: {
              datalabels: {
                display:false,
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 11,
                  weight: 600
                },
                offset: 4,
                padding: 0,
              }
            },
        title: {
            display: true,
            text: 'REGION, SOURCE WITH INDIVIDUAL CHANGE PERCENTAGE'
        },
        tooltips: {
            mode: 'index',
        },
        responsive: true,
        scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                stacked: true,
                <!--ticks: {-->
                        <!--max: 80,-->
                        <!--min: -80,-->
                    <!--}-->
            }]
        }
    }
});
var ctx4 = document.getElementById("myChart-4").getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: [{% for item in result['Devices'] %}
                  "{{item['Device']}}",
              {% endfor %}],
        datasets: [{
            label: ['Current'],
            data: [{% for item in result['Devices'] %}
                  "{{item['Goal Completions']}}",
                  {% endfor %}],
            backgroundColor: [{% for item in result['Devices'] %}
                  'rgba(255, 99, 132, 1)',
                  {% endfor %}],
            borderColor: [{% for item in result['Devices'] %}
                  'rgba(255,99,132,1)',
                  {% endfor %}],
            borderWidth: 1
        },
        {
            label: ['Previous'],
            data: [{% for item in result['Devices'] %}
                  "{{item['Previous']}}",
                  {% endfor %}],
            backgroundColor: [{% for item in result['Devices'] %}
                  'rgba(54, 162, 235, 1)',
                  {% endfor %}],
            borderColor: [{% for item in result['Devices'] %}
                  'rgba(54, 162, 235, 1)',
                  {% endfor %}],
            borderWidth: 1
        }]
    },
    options: {
        plugins: {
              datalabels: {
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 12,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
        title: {
			display: true,
			text: 'DEVICES'
			},
        tooltips: {
            mode: 'index',
            },
        scales: {
            yAxes: [{
                gridLines: {
                    display:true
                },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                gridLines: {
                    display:true
                },
            }]
        }
    }
});

var ctx5 = document.getElementById("myChart-5").getContext('2d');
var myChart5 = new Chart(ctx5, {
    type: 'doughnut',
    data: {
        labels: [{% for item in result['CPC'] %}
                   {% if item['Paid Source'] != 'Total' %}
                  "{{item['Paid Source']}}",
                  {% endif %}
                {% endfor %}],
        datasets: [{
            data: [{% for item in result['CPC'] %}
                   {% if item['Paid Source'] != 'Total' %}
                  "{{item['Goal Completions']}}",
                  {% endif %}
                {% endfor %}],
            backgroundColor: [
                'rgba(51, 100, 255, 0.6)',
                'rgba(255, 49, 49, 0.6)',
                'rgba(252, 135, 54, 0.6)',
                'rgba(22, 152, 31, 0.6)'
            ],
            borderColor: [
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 5
        },
        {
            data: [{% for item in result['CPC_prv'] %}
                  {{item['Goal Completions']}},
                {% endfor %}],
            backgroundColor: [
                'rgba(51, 100, 255, 0.2)',
                'rgba(255, 49, 49, 0.2)',
                'rgba(252, 135, 54, 0.2)',
                'rgba(22, 152, 31, 0.2)'
            ],
            borderColor: [
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 7
        }]
    },
    options: {
        cutoutPercentage: 10,
        plugins: {
              datalabels: {
                display:function(context) {
                      var value = context.dataset.data[context.dataIndex];
                      return value == 0 ? false : true
                },
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 12,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
        title: {
			display: true,
			text: 'CPC'
        },

    }
});

var ctx6 = document.getElementById('myChart-6').getContext('2d');
var myChart6 = new Chart(ctx6, {
   type: 'line',
   data: {
     labels: ['W1', 'W2', 'W3', 'W4'],
     datasets: [{
       label: 'Organic Search',
       backgroundColor: 'rgba(51, 100, 255, 0.8)',
       borderColor: 'rgba(51, 100, 255, 0.8)',
       data: [
         {{lineresults['session_category_line1']['Organic Search'].split('%')[0]}},
         {{lineresults['session_category_line2']['Organic Search'].split('%')[0]}},
         {{lineresults['session_category_line3']['Organic Search'].split('%')[0]}},
         {{lineresults['session_category_line4']['Organic Search'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'Direct',
       fill: false,
       backgroundColor: 'rgba(255, 49, 49, 0.8)',
       borderColor: 'rgba(255, 49, 49, 0.8)',
       data: [
         {{lineresults['session_category_line1']['Direct'].split('%')[0]}},
         {{lineresults['session_category_line2']['Direct'].split('%')[0]}},
         {{lineresults['session_category_line3']['Direct'].split('%')[0]}},
         {{lineresults['session_category_line4']['Direct'].split('%')[0]}},
       ],
     }, {
       label: 'Referral',
       backgroundColor: 'rgba(252, 135, 54,0.8)',
       borderColor: 'rgba(252, 135, 54,0.8)',
       data: [
         {{lineresults['session_category_line1']['Referral'].split('%')[0]}},
         {{lineresults['session_category_line2']['Referral'].split('%')[0]}},
         {{lineresults['session_category_line3']['Referral'].split('%')[0]}},
         {{lineresults['session_category_line4']['Referral'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'Social',
       backgroundColor: 'rgba(22, 152, 31, 0.5)',
       borderColor: 'rgba(22, 152, 31, 0.5)',
       data: [
         {{lineresults['session_category_line1']['Social'].split('%')[0]}},
         {{lineresults['session_category_line2']['Social'].split('%')[0]}},
         {{lineresults['session_category_line3']['Social'].split('%')[0]}},
         {{lineresults['session_category_line4']['Social'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'Paid Search',
       backgroundColor: 'rgba(218, 14, 247, 0.8)',
       borderColor: 'rgba(218, 14, 247, 0.8)',
       data: [
         {{lineresults['session_category_line1']['Paid Search'].split('%')[0]}},
         {{lineresults['session_category_line2']['Paid Search'].split('%')[0]}},
         {{lineresults['session_category_line3']['Paid Search'].split('%')[0]}},
         {{lineresults['session_category_line4']['Paid Search'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'Email',
       backgroundColor: 'rgba(1, 169, 214, 0.8)',
       borderColor: 'rgba(1, 169, 214, 0.8)',
       data: [
         {{lineresults['session_category_line1']['Email'].split('%')[0]}},
         {{lineresults['session_category_line2']['Email'].split('%')[0]}},
         {{lineresults['session_category_line3']['Email'].split('%')[0]}},
         {{lineresults['session_category_line4']['Email'].split('%')[0]}},
       ],
       fill: false,
     }]
   },
   options: {
     plugins:{
         datalabels: {
                   display: false,
               },
     },
     responsive: true,
     title: {
       display: true,
       text: 'MONTHLY SOURCE REPORT WITH CHANGE PERCENTAGE'
     },
     tooltips: {
       mode: 'index',

     },
     hover: {
       mode: 'nearest',
       intersect: true
     },
     scales: {
       xAxes: [{
         display: true,
         scaleLabel: {
           display: true,
           labelString: "{{MonthNames[1]}} vs {{MonthNames[0]}}",
         }
       }],
       yAxes: [{
         ticks: {
                 stepSize: 10,
                 },
         display: true,
         scaleLabel: {
           display: true,
         }
       }]
     }
   }
 });
var ctx2 = document.getElementById("myChart-7").getContext('2d');
var myChart2 = new Chart(ctx2, {
			type: 'bar',
			data: {
				labels: ['UK', 'US', 'France', 'China'],
				datasets: [{
                datalabels: {
                    display: false
                },
                label: ['Desktop'],
                data: [{{result['Device_sessions'][0]['Desktop']}},{{result['Device_sessions'][1]['Desktop']}},
                {{result['Device_sessions'][2]['Desktop']}},{{result['Device_sessions'][3]['Desktop']}},
                ],
                backgroundColor: [
                    'rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)','rgba(22, 152, 31, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                ],
                borderWidth: 0.5
                },
            {
                datalabels: {
                    display: false
                },
                label: ['Tablet'],
                data: [{{result['Device_sessions'][0]['Tablet']}},{{result['Device_sessions'][1]['Tablet']}},
                {{result['Device_sessions'][2]['Tablet']}},{{result['Device_sessions'][3]['Tablet']}},
                ],
                backgroundColor: [
                    'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)',

                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                ],
                borderWidth: 0.5
                },
                {
                label: ['Mobile'],
                labels: [{% for item in result['sessions'] %}
                    {%if item['Country'] != 'Total' %}
                  "{{((item['Current']|int /result['sessions'][-1]['Current']|int) * 100)|round(2) }}",
                  {% endif %}
                  {% endfor %}],
                data: [{{result['Device_sessions'][0]['Mobile']}},{{result['Device_sessions'][1]['Mobile']}},
                {{result['Device_sessions'][2]['Mobile']}},{{result['Device_sessions'][3]['Mobile']}},
                ],
                backgroundColor: [
                    'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
                ],
                borderWidth: 0.5
                },
            ]
        },
    options: {
        plugins: {
              datalabels: {
                formatter: function(value, context) {
                    return context.dataset.labels[context.dataIndex] + '%';
                },
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#6b6a66',
                font: {
                  size: 12,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
        title: {
			display: true,
			text: 'SESSIONS BY CATEGORIES'
			},
        tooltips: {
                    mode: 'index',
                },
                hover: {
                    mode: 'index'
                },
        scales: {
            yAxes: [{
                stacked: true,
                gridLines: {
                    display:true
                }
            }],
            xAxes: [{
                stacked: true,
                gridLines: {
                    display:false
                },
            }]
        }
    }
});
var ctx2 = document.getElementById("myChart-8").getContext('2d');
var myChart2 = new Chart(ctx2,{
   type: 'line',
   data: {
     labels: ['W1', 'W2', 'W3', 'W4'],
     datasets: [{
       label: 'UK',
       backgroundColor: 'rgba(51, 100, 255, 0.8)',
       borderColor: 'rgba(51, 100, 255, 0.8)',
       data: [
         {{lineregionresults['session_line1'][0]['Change'].split('%')[0]}},
         {{lineregionresults['session_line2'][0]['Change'].split('%')[0]}},
         {{lineregionresults['session_line3'][0]['Change'].split('%')[0]}},
         {{lineregionresults['session_line4'][0]['Change'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'USA',
       fill: false,
       backgroundColor: 'rgba(255, 49, 49, 0.8)',
       borderColor: 'rgba(255, 49, 49, 0.8)',
       data: [
           {{lineregionresults['session_line1'][1]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][1]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][1]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][1]['Change'].split('%')[0]}},
       ],
     }, {
       label: 'France',
       backgroundColor: 'rgba(252, 135, 54,0.8)',
       borderColor: 'rgba(252, 135, 54,0.8)',
       data: [
           {{lineregionresults['session_line1'][2]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][2]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][2]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][2]['Change'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'China',
       backgroundColor: 'rgba(110, 234, 70,0.8)',
       borderColor: 'rgba(110, 234, 70,0.8)',
       data: [
           {{lineregionresults['session_line1'][3]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][3]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][3]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][3]['Change'].split('%')[0]}},
       ],
       fill: false,
     },{
       label: 'India',
       backgroundColor: 'rgba(234, 70, 194,0.8)',
       borderColor: 'rgba(234, 70, 194,0.8)',
       data: [
           {{lineregionresults['session_line1'][4]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][4]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][4]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][4]['Change'].split('%')[0]}},
       ],
       fill: false,
     },
     {
       label: 'SEA',
       backgroundColor: 'rgba(22, 152, 31, 0.5)',
       borderColor: 'rgba(22, 152, 31, 0.5)',
       data: [
           {{lineregionresults['session_line1'][5]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][5]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][5]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][5]['Change'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'ANZ',
       backgroundColor: 'rgba(218, 14, 247, 0.8)',
       borderColor: 'rgba(218, 14, 247, 0.8)',
       data: [
           {{lineregionresults['session_line1'][6]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][6]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][6]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][6]['Change'].split('%')[0]}},
       ],
       fill: false,
     }, {
       label: 'ROW',
       backgroundColor: 'rgba(1, 169, 214, 0.8)',
       borderColor: 'rgba(1, 169, 214, 0.8)',
       data: [
           {{lineregionresults['session_line1'][7]['Change'].split('%')[0]}},
           {{lineregionresults['session_line2'][7]['Change'].split('%')[0]}},
           {{lineregionresults['session_line3'][7]['Change'].split('%')[0]}},
           {{lineregionresults['session_line4'][7]['Change'].split('%')[0]}},
       ],
       fill: false,
     }]
   },
   options: {
     plugins:{
         datalabels: {
                   display: false,
               },
     },
     responsive: true,
     title: {
       display: true,
       text: 'MONTHLY REGION REPORT WITH CHANGE PERCENTAGE'
     },
     tooltips: {
       mode: 'index',
       intersect: false,
     },
     hover: {
       mode: 'nearest',
       intersect: true
     },
     scales: {
       xAxes: [{

         display: true,
         scaleLabel: {

           display: true,
           labelString: "{{MonthNames[1]}} vs {{MonthNames[0]}}",
         }
       }],
       yAxes: [{
         ticks: {
                 stepSize: 10,
                 },
         display: true,
         scaleLabel: {

           display: true,
           labelString: 'Values'
         }
       }]
     }
   }
});
</script>
{% endif %}
{% endblock %}
