{% extends "base.html" %}
{% block content %}
<!-- page content -->
<script>

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
<!--$(document).ready(function() {-->
    <!--$('.example').DataTable( {-->
        <!--"paging":   false,-->
        <!--"ordering": false,-->
        <!--"info":     false-->
    <!--} );-->
<!--} );-->
function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
};
function changeText(id) {
    if(id.innerHTML == "Show Charts"){
        id.innerHTML = "Show Tables";
        }
    else if(id.innerHTML == "Show Tables"){
        id.innerHTML = "Show Charts";
    }
};
$(function() {
var date = new Date();
var currentMonth = date.getMonth();
var currentDate = date.getDate();
var currentYear = date.getFullYear();
$('.datepicker').datepicker({
maxDate: new Date(currentYear, currentMonth, currentDate-1)
});
});
</script>
<style>
.card-body{
min-height:124px !important;
}
.a{
    cursor: pointer;
}
.b{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 5px;
    font-size:120%;
}
.c {
    padding: 0px !important;
}
.d{
margin: 10px;
}
.mb-4 {
    margin-bottom: 1rem !important;
}
.carousel-indicators{
    bottom: -10px !important;
}
.carousel-indicators .active{
    background-color:black;
}
.control-next{
    top:0px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

</style>
    <p id="p1"></p>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="container" style="margin-top:20px">
                            <form method="post" action="/" name="form1">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <label><b>Present Start Date</b></label>
                                      <input name="pre_start" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Present End Date</b></label>
                                      <input name="pre_end" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Previous Start Date</b></label>
                                      <input name="prv_start" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Previous End Date</b></label>
                                      <input name="prv_end" class="form-control datepicker a" placeholder="mm/dd/yyyy" required>
                                    </div>
                                </div>
                                <div class="container" style="text-align:center; margin-top:10px">
                                    <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                                </div>
                            </form>
                            <div class="container" style="text-align:center; margin-top:10px">
                                    {% if result %}
                                    <a href="javascript:SwapDivsWithClick('swapper-first','swapper-other')"><button class="btn btn-primary btn-sm" onclick="changeText(this)">Show Charts</button></a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if result %}
            <div id="swapper-first" style="display:block;">
                <div class="animated fadeIn">
                    <div class="card-columns cols-2">
                        <div class="card">
                            <div class="card-header">
                                <font size="4">Sessions</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table  class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Current</th>
                                                    <th>Previous</th>
                                                    <th>Change</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in result['sessions'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['Current']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                        <td>{{item['Change']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Sessions by categories</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Organic Search</th>
                                                    <th>Direct</th>
                                                    <th>Referral</th>
                                                    <th>Social</th>
                                                    <th>Paid Search</th>
                                                    <th>Email</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in result['session_category'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['Organic Search']}}</td>
                                                        <td>{{item['Direct']}}</td>
                                                        <td>{{item['Referral']}}</td>
                                                        <td>{{item['Social']}}</td>
                                                        <td>{{item['Paid Search']}}</td>
                                                        <td>{{item['Email']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Events</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table  class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>HelloBar Events</th>
                                                    <th>Previous</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['Events'] %}
                                                    <tr>
                                                        <td>{{item['Country']}}</td>
                                                        <td>{{item['HelloBar Events']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Devices</font>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-container">
                                            <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                                <thead>
                                                    <tr>
                                                        <th>Device</th>
                                                        <th>Goal Completions</th>
                                                        <th>Previous</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                {% for item in result['Devices'] %}
                                                    <tr>
                                                        <td>{{item['Device']}}</td>
                                                        <td>{{item['Goal Completions']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">CPC</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Paid Source</th>
                                                    <th>Goal Completions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['CPC'] %}
                                                    <tr>
                                                        <td>{{item['Paid Source']}}</td>
                                                        <td>{{item['Goal Completions']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <font size="4">Top Conversions</font>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                        <table class="table table-hover table-outline table-sortable mb-0"  style="border-collapse: collapse !important;">
                                            <thead>
                                                <tr>
                                                    <th>Metric</th>
                                                    <th>Current</th>
                                                    <th>Previous</th>
                                                    <th>Change</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in result['Top_conversions'] %}
                                                    <tr>
                                                        <td>{{item['Metric']}}</td>
                                                        <td>{{item['Current']}}</td>
                                                        <td>{{item['Previous']}}</td>
                                                        <td>{{item['Change']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js'></script>
    <div class="container-fluid" id="swapper-other" style="display:none">
        <div class="animated fadeIn">
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <div>
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                                <div id="curve_chart3"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <div id="curve_chart4"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <div id="colchart_diff" style="width: 450px; height: 250px; display: inline-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--{% for item in result['Devices'] %}-->
<!--{{ item['Goal Completions'] }}-->
<!--{{ result['Devices'] }}-->
<!--{{result['session_category']}}-->
<!--{{ item['Previous']}}-->
<!--{% endfor %}-->



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Country','Organic Search', 'Direct', 'Referral', 'Social', 'Paid Search',
         'Email',{ role: 'annotation' },{ role: 'annotation' },{ role: 'annotation' },
         { role: 'annotation' },{ role: 'annotation' },{ role: 'annotation' }],
        ['UK', {{SesCatDict['OrganicSearch'][0]}},{{SesCatDict['Direct'][0]}},{{SesCatDict['Referral'][0]}},{{SesCatDict['Social'][0]}},{{SesCatDict['PaidSearch'][0]}},{{SesCatDict['Email'][0]}},'cu','','','','',''],
        ['USA', {{SesCatDict['OrganicSearch'][1]}},{{SesCatDict['Direct'][1]}},{{SesCatDict['Referral'][1]}},{{SesCatDict['Social'][1]}},{{SesCatDict['PaidSearch'][1]}},{{SesCatDict['Email'][1]}},'cu','','','','',''],
        ['France', {{SesCatDict['OrganicSearch'][2]}},{{SesCatDict['Direct'][2]}},{{SesCatDict['Referral'][2]}},{{SesCatDict['Social'][2]}},{{SesCatDict['PaidSearch'][2]}},{{SesCatDict['Email'][2]}},'cu','','','','',''],
        ['China', {{SesCatDict['OrganicSearch'][3]}},{{SesCatDict['Direct'][3]}},{{SesCatDict['Referral'][3]}},{{SesCatDict['Social'][3]}},{{SesCatDict['PaidSearch'][3]}},{{SesCatDict['Email'][3]}},'cu','','','','',''],
        ['India', {{SesCatDict['OrganicSearch'][4]}},{{SesCatDict['Direct'][4]}},{{SesCatDict['Referral'][4]}},{{SesCatDict['Social'][4]}},{{SesCatDict['PaidSearch'][4]}},{{SesCatDict['Email'][4]}},'cu','','','','',''],
        ['SEA', {{SesCatDict['OrganicSearch'][5]}},{{SesCatDict['Direct'][5]}},{{SesCatDict['Referral'][5]}},{{SesCatDict['Social'][5]}},{{SesCatDict['PaidSearch'][5]}},{{SesCatDict['Email'][5]}},'cu','','','','',''],
        ['ANZ', {{SesCatDict['OrganicSearch'][6]}},{{SesCatDict['Direct'][6]}},{{SesCatDict['Referral'][6]}},{{SesCatDict['Social'][6]}},{{SesCatDict['PaidSearch'][6]}},{{SesCatDict['Email'][6]}},'cu','','','','',''],
        ['ROW', {{SesCatDict['OrganicSearch'][7]}},{{SesCatDict['Direct'][7]}},{{SesCatDict['Referral'][7]}},{{SesCatDict['Social'][7]}},{{SesCatDict['PaidSearch'][7]}},{{SesCatDict['Email'][7]}},'cu','','','','','']
      ]);



      var view = new google.visualization.DataView(data);
      view.setColumns([0,1,2,3,4,5,6, {
      calc: function (dt, row) {
        a=dt.getValue(row, 1) + dt.getValue(row, 2)+dt.getValue(row, 3) + dt.getValue(row, 4)+dt.getValue(row, 5) + dt.getValue(row, 6);
        b=a/1000;
        c=parseInt(b)
            return c
      },
      type: "number",
      role: "annotation"
    }
                        ]);

      var options = {

        width: 610,
        height: 650,
       animation:{
      duration: 6000,
      easing: 'out',
      startup: true
    },
        displayAnnotations: true,
    vAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},
    hAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},

        chartArea:{left:60,top:60,width:"87%"},
        bar: {groupWidth: "60%"},
         colors:['#3CBBB6','#2681B9','#F4485F','#D55B12','#92EA5D','#004411'],
        isStacked: true,
        legend: { position: "top", textStyle: {color: '#808080', fontSize: 16}},
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("chart1"));
      chart.draw(view, options);
  }
  $(window).resize(function(){
  drawChart();
  });
</script>

<script src="http://www.chartjs.org/dist/2.7.2/Chart.bundle.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<script type="text/javascript">
var barChartData = {
        labels: ['UK', 'USA', 'France', 'China', 'India', 'SEA', 'ANZ','ROW'],
        datasets: [{
            label: 'Organic Search',
            backgroundColor: [
               'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)',
               'rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)','rgba(51, 100, 255, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ OrganicSearchChange }}
        }, {
            label: 'Direct',
            backgroundColor: [
               'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)',
               'rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)','rgba(255, 49, 49, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ DirectChange }}
        }, {
            label: 'Referral',
            backgroundColor: [
               'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)',
               'rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)','rgba(252, 135, 54,0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ ReferralChange }}
        }, {
            label: 'Social',
            backgroundColor: [
               'rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)',
               'rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)','rgba(22, 152, 31, 0.5)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ SocialChange }}
        }, {
            label: 'Paid Search',
            backgroundColor: [
               'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)',
               'rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)','rgba(218, 14, 247, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ PaidSearchChange }}
        }, {
            label: 'Email',
            backgroundColor: [
               'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)',
               'rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)','rgba(1, 169, 214, 0.8)'],
            borderColor: [
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)',
               'rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)'],
            borderWidth: 0.5,
            data: {{ EmailChange }}
        }]

    };
    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title: {
                    display: true

                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
								max: 80,
								min: -80,
							}
                    }]
                }
            }
        });
    };
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['time period','Organic Search', 'Direct', 'Referral', 'Social', 'Paid Search',
         'Email'],
        ['Jan17', 28.19,-4.31,-6.05,-18.21,7.31,-26.1],
        ['Feb17', 8.19,-14.31,-6.05,-18.21,47.31,-26.1],
        ['Mar17', 18.19,-4.31,26.05,68.21,17.31,-26.1],
        ['Apr17', -8.19,54.31,-6.05,-18.21,7.31,-26.1],
        ['May17', 13.19,34.31,26.05,18.21,27.31,-26.1],
        ['June17',18.19,-4.31,11.05,-18.21,7.31,-26.1],
        ['Jul17',8.19,-14.31,6.05,8.21,10.31,-26.1],
        ['Aug17',48.19,4.31,-6.05,-18.21,7.31,-26.1]
      ]);

        var options = {
          curveType: 'function',
          chartArea:{left:100,top:60,width:"100%"},
    vAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},
    hAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},
          legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart3'));

        chart.draw(data, options);
      }
      $(window).resize(function(){
        drawChart();
        });
    </script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['time period','UK', 'USA', 'France', 'China', 'India',
         'SEA','ANZ','ROW'],
        ['Jan17', 28,-4,-6,-18,7,-26,14,1],
        ['Feb17', 8,-14,-6,-18,47,-26,9,5],
        ['Mar17', 18,-4,26,68,17,-26,24,8],
        ['Apr17', -8,54,-6,-18,7,-26,1,25],
        ['May17', 13,34,26,18,27,-26,16,1],
        ['June17',18,-4,11,-18,7,-26,2,9],
        ['Jul17',8,-14,6,8,10,-26,14,8],
        ['Aug17',48,4,-6,-18,7,-26,17,14]
      ]);

        var options = {
            vAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},
    hAxis: {textStyle: {color: "#808080"},gridlines: {count: 10,color: "#808080"},baselineColor: '#808080'},
          curveType: 'function',
          chartArea:{left:100,top:60,width:"100%"},

          legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart4'));

        chart.draw(data, options);
      }
    </script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var oldData = google.visualization.arrayToDataTable([
      ['Devices', 'Previous'],
      ['Desktop', {{ DevicesDict['DevicesPrv'][0] }}],
      ['Mobile', {{ DevicesDict['DevicesPrv'][1] }}],
      ['Tablet', {{ DevicesDict['DevicesPrv'][2] }}],

    ]);

    var newData = google.visualization.arrayToDataTable([
      ['Devices', 'Goal Completions '],
      ['Desktop', {{ DevicesDict['DevicesPre'][0] }}],
      ['Mobile', {{ DevicesDict['DevicesPre'][1] }}],
      ['Tablet', {{ DevicesDict['DevicesPre'][2] }}],

    ]);

    var colChartDiff = new google.visualization.ColumnChart(document.getElementById('colchart_diff'));


    var options = { legend: { position: 'top' } };



    var diffData = colChartDiff.computeDiff(oldData, newData);
    colChartDiff.draw(diffData, options);

  }
  $(window).resize(function(){
  drawChart();
});
</script>
{% endif %}
{% endblock %}
